<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="details content">
            <h2><%= blog.title %></h2>
            <div class="content" >
                <p><%= blog.body %></p>
            </div>
            <form method="post" action="/blogs/<%= blog._id %>?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Submit</button>
                </form>
        </div>
        <%- include('../partials/footer.ejs') %>

    
    </body>

</html>